nav {
  position: fixed;
  z-index: 5;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

nav ul li {
  font-size: 0;
  width: 1.6rem;
  height: 1.6rem;
  border: .1rem solid #0066ff;
  border-radius: 50%;
  cursor: pointer;
}

nav ul li+li {
  margin-top: 2.5rem;
}

nav ul li.active {
  background-color: #0066ff;
}

header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
}

header .rel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 0;
}

header h1 a {
  display: block;
  width: 10.5rem;
  height: 4rem;
  background: url(../img/logo.png) no-repeat center/contain;
  font-size: 0;
}

header .right-wrap {
  display: flex;
  gap: 3rem
}

.lang-wrap {
  position: relative;
}

.lang-wrap a {
  color: #000;
}

.lang-wrap dt a {
  font-size: 1.8rem;
}

.lang-wrap dt a span {
  font-size: 1.2rem;
}

.lang-wrap dd {
  position: absolute;
  display: none;
  top: 3rem;
  width: 6.8rem;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem 0;
  border: .1rem solid #d4d4d4;
  opacity: 0;
}

.lang-wrap dd a {
  display: block;
  font-size: 1.6rem;
  padding: .2rem 0;
}

/* On */
.lang-wrap.On dd {
  display: block;
}

.menu-open {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 0;
  background: url(../img/menu_b.png) no-repeat center center/100%;
}

/* modal-nav */
.modal-nav {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: url(../img/bg_B.png) no-repeat center/cover;
  top: 0;
  display: none;
  padding: 12rem 0 0 4rem;
}


.modal-nav .gnb li {
  position: relative;
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 3rem;
  padding-left: 2rem;
}

.modal-nav .gnb li a {
  color: #fff;
  font-size: 3.2rem;
  text-transform: uppercase;
}

.modal-nav .gnb li::before {
  display: block;
  content: "";
  position: absolute;
  width: .8rem;
  height: .8rem;
  background-color: #fff;
  border-radius: 50%;
  left: 0;
  top: 2rem;
}

.modalNav-Open {
  overflow: hidden;
}

.modalNav-Open .modal-nav {
  display: block;
}

.modalNav-Open header h1 {
  position: relative;
  z-index: 6;
}

.modalNav-Open header h1 a {
  background-image: url(../img/foot_logo.png);
}

.modalNav-Open .menu-open {
  z-index: 6;
  position: relative;
  background-image: none;
  margin-right: 1.7rem;
}

.modalNav-Open .menu-open::before,
.modalNav-Open .menu-open::after {
  display: block;
  content: "";
  top: calc(50% - .25rem);
  height: .5rem;
  left: 0;
  width: 100%;
  background-color: #fff;
  position: absolute;
}

.modalNav-Open .menu-open::before {
  transform: rotate(45deg);
}

.modalNav-Open .menu-open::after {
  transform: rotate(-45deg);
}

.fixed-samdasoo {
  position: fixed;
  z-index: 2;
  width: 23.2rem;
  left: 50%;
  height: 40%;
  bottom: 50%;
  transform: translate(-50%, 80%);

}

.fixed-samdasoo img {
  height: 100%;
  display: inline-block;
  transition: all .3s;
}

/* 0 */
.sc0 {
  background: url(../img/bg_W.png) no-repeat center/cover;
  justify-content: center;
}

.sc0 .main-text {
  margin-top: 20rem;
}

/* 1 */
.sc1 {
  background: url(../img/bg_B.png) no-repeat center/cover;
}
.sc1 .more-btn {
  background: url(../img/btn_bg2.png) no-repeat center/contain;
}


/* 2 */
.sc2 {
  background: url(../img/bg_G.png) no-repeat center/cover;
}
.sc2 .more-btn {
  background: url(../img/btn_bg3.png) no-repeat center/contain;
}



.sc1 .text dt,
.sc1 .text dd,
.sc2 .text dt,
.sc2 .text dd {
  color: #fff;
}

.sc1 .main-text,
.sc2 .main-text{
  max-width: 80%;
}

/*  act */
.act-1 header h1 a,
.act-2 header h1 a {
  background-image: url(../img/foot_logo.png);
}

.act-1 .lang-wrap a,
.act-2 .lang-wrap a {
  color: #fff;
}

.act-1 .menu-open,
.act-2 .menu-open {
  background-image: url(../img/menu_w.png);
}


/* 3번 물병 안나오게 */
/* .act-3 .fixed-samdasoo img{
  opacity: 0;
} */

/* 3 */
.sc3 {
  background: url(../img/bg4.jpg) no-repeat center/cover;
  padding: 9rem 2rem 5rem;
  height: auto;
  min-height: 100vh;
}

.sc3 dt {
  color:#2d2d2d;
  font-size: 2rem;
      /* font-family: 'SCoreDream'; */
  font-weight: 300;
  margin-bottom: .5rem;
}

.sc3 dt span{
  color: #0066ff;
  font-weight: 500;
}

.sc3 dd {
  font-size: 1.2rem;
  color: #333;
}

.sc3 .instar-wrap{
  position: relative;
  color:#fff;
  width: 100%;
  /* background-color: #d4d4d4; */
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.sns-wrap a{
  display: block;
  color: #fff;
  text-transform: uppercase;
  margin: 1rem 0;
}
.sc3 .in-wrap {
  width: 100%;
}

.sc3 .instar-wrap h3{
  font-weight: bold;
  font-size: 1.7rem;
}
.sc3 .instar-wrap p{
  font-size: 1.2rem;
  font-weight: 200;
}

.sc3-slider-wrap{
  height: 28rem;
  background-color: #0066ff;
  width: 100%;
}

footer {
padding: 3rem 2rem;
  background-color: #0c0c0c;
}
footer .depth1{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.sns-link{
  max-width: 11.9rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sns-link li{
  flex: 1;
}

footer .util {
  display: flex;
  gap: .5rem;
}
footer .util a{
  color: #fff;
}
footer .util li:first-child a{
  font-weight: 600;
}
footer .copy ,
address {
  font-style: normal;
  color: #fff;
  font-size: 1.2rem;
}
address {
  margin-bottom: .5rem;
}
footer .copy {
margin-bottom: 3rem;
}

  
.foot-logo {
  text-align: center;
}
.foot-logo img{
  width: 10.5rem;
}
.scroll-up {
  display: none;
}